@import 'base.scss';

/* == Main style == */
body {
	position: relative;
	height: 100vh;
	background-color: $gray-500;
	background-image: url('~Assets/image/wallpaper/photo-1545242640-7c9e9cc07d23.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0.25);
		width: 100%;
		height: 100vh;
	}
	.container-fluid {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	// Role
	#navbar {
		height: 50px;
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: $dark;
		border-bottom: solid 2px $gray-400;
		.container-fluid {
			height: 100%;
		}
		.navbar-brand {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 100%;
			img {
				display: inline-block;
				height: 100%;
			}
			.navbar-brand-title {
				@extend .fnt-style3;
				font-size: 18px;
				font-weight: set-weight('semibold');
				color: #FFFFFF;
				margin-left: 10px;
			}
		}
	}
	#content {
		height: calc(100% - 60px);
		.list-wrapper {
			display: flex;
			flex-direction: row;
			overflow-x: auto;
    		overflow-y: hidden;
			width: 100%;
			height: 100%;
			padding: 1rem;
			overflow-x: auto;
			overflow-y: hidden;
			.list-item {
				&.is-trigger {
					background-color: $gray;
					padding: 10px;
					cursor: pointer;
					&:hover {
						background-color: lighten($dark, 30%);
					}
					.add-trigger {
						display: block;
						width: 100%;
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-items: center;
						img {
							display: inline-block;
							width: 18px;
							height: 18px;
							font-size: 0;
							line-height: 1;
							margin-right: 5px;
							white-space: nowrap;
							object-fit: contain;
							object-position: center;
							@extend .svg-white;
						}
						p {
							@extend .fnt-style1;
							font-size: 14px;
							font-weight: set-weight('medium');
							color: #FFFFFF;
							line-height: 1;

						}
					}
				}
				display: flex;
				flex-direction: column;
				align-self: flex-start;
				flex-shrink: 0;
				margin: 0 6px;
				white-space: nowrap;
				width: 320px;
				height: auto;
				max-height: 100%;
				border-radius: 10px;
				background-color: darken($dark, 60%);
				overflow: hidden;
				.list-head {
					padding: 10px;
					.list-head-wrapper {
						width: 100%;
						display: flex;
						position: relative;
						flex-grow: 0;
						flex-wrap: wrap;
						align-items: center;
						align-items: flex-start;
						justify-content: space-between;
						row-gap: 0;
						.list-head-title {
							position: relative;
							flex-basis: min-content;
							flex-grow: 1;
							flex-shrink: 1;
							.list-title {
								@extend .fnt-style1;
								color: $gray-400;
								font-weight: set_weight('semibold');
								display: block;
								z-index: 0;
								margin: 0;
								padding: 6px 8px 6px 12px;
								overflow: hidden;
								background-color: transparent;
								font-size: 14px;
								font-weight: 600;
								line-height: 20px;
								white-space: normal;
								cursor: pointer;
								overflow-wrap: anywhere;
							}
							.input-list-title {
								height: 32px;
								position: absolute;
								z-index: -1;
								top: 0;
								right: 0;
								bottom: 0;
								left: 0;
								box-sizing: border-box;
								min-height: 20px;
								margin: 0;
								padding: 6px 8px 6px 12px;
								overflow: hidden;
								border-radius: 8px;
								opacity: 0;
								background: transparent;
								box-shadow: none;
								font-weight: 600;
								resize: none;
								overflow-wrap: break-word;
							}
						}
						.btn-action-filter {
							width: 30px;
							height: 30px;
							border-radius: 5px;
							background-color: transparent;
							border: 0;
							outline: none;
							box-shadow: none;
							padding: 0;
							margin: 0;
							cursor: pointer;
							&:hover {
								background-color: lighten($dark, 10%);
							}
							img {
								display: inline-block;
								padding: 6px;
								width: 100%;
								height: 100%;
								font-size: 0;
								line-height: 0;
								@extend .svg-white;
							}
						}
					}
				}
				.list-body {
					padding: 10px;
					padding-top: 0px;
					margin: 0px 10px;
					flex: 1 1 auto;
					height: 100%;
					overflow-x: hidden;
					overflow-y: auto;
					.card-item {
						padding: 10px;
						color: white;
						border-radius: 10px;
						margin-bottom: 10px;
						background-color: lighten($dark, 10%);
						overflow-wrap: break-word;
    					white-space: normal;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
				.list-foot {
					padding: 10px;
					.card-input-wrapper {
						.input-card-title {
							@extend .fnt-style1;
							font-weight: set_weight('regular');
							font-size: 14px;
							line-height: 1;
							color: $gray-400;
							width: 100%;
							min-height: 36px;
							height: 56px;
							max-height: 100;
							margin: 0;
							padding: 8px 12px;
							overflow: hidden;
							overflow-y: auto;
							border: none;
							border-radius: 8px;
							background-color: lighten($dark, 10%);
							// box-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);
							resize: none;
							overflow-wrap: break-word;
							box-sizing: border-box;
							display: block;
							line-height: 20px;
							margin-bottom: 12px;
							outline: none;
							padding: 8px 12px;
							transition-duration: 85ms;
							transition-property: background-color, border-color, box-shadow;
							transition-timing-function: ease;
							&::placeholder {
								@extend .fnt-style1;
								font-weight: set_weight('regular');
								font-size: 14px;
								color: $gray-500;
							}
						}
						.btn-card-cancel {
							// padding: 0;
							margin: 0;
							font-size: 0;
							line-height: 0;
							width: 38px;
							height: 38px;
							border: 0;
							outline: 0;
							box-shadow: 0;
							&:hover {
								background-color: lighten($dark, 10%);
							}
							img {
								display: inline-block;
								width: 100%;
								height: 100%;
								object-fit: contain;
								object-position: center;
								@extend .svg-white;
							}
						}
					}
					.card-trigger-wrapper {
						.btn-action-add {
							width: 100%;
							display: flex;
							flex-direction: row;
							align-items: center;
							justify-content: flex-start;
							border: 0;
							outline: 0;
							box-shadow: 0;
							p { color: #FFFFFF; font-size: 14px; }
							&:hover {
								background-color: lighten($dark, 10%);
							}
							img {
								display: inline-block;
								width: 16px;
								height: 16px;
								font-size: 0;
								line-height: 0;
								padding: 0;
								margin: 0;
								margin-right: 6px;
								@extend .svg-white;
							}
						}
					}
				}
			}
		}
	}
}
